<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyun.pay.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liyun.pay.domain.pojo.OrderItem">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="sku_id" property="skuId" />
        <result column="spu_id" property="spuId" />
        <result column="shop_id" property="shopId" />
        <result column="name" property="name" />
        <result column="image" property="image" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
    </resultMap>

</mapper>
